{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="dashboard-header">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Diabetic Retinopathy Analyzer</a></li>
            <li><a data-toggle="tab" href="#menu1">Neuropathic Ulcer Analyzer</a></li>
            <!--<li><a data-toggle="tab" href="#menu2">Clinical signs detection</a></li>-->
            <!--<li><a data-toggle="tab" href="#menu3">Treatments suggestion</a></li>-->
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="jumbotron">
                    <h5 style="color: dimgrey;margin-top: 0;margin-bottom: 0;">Upload Fundus Image</h5><br>
                    <form method = "post" id = "dr_classification_form" enctype = "multipart/form-data">
                        <span class="btn btn-default">
                            <input type = "file" name = "retinal_image" id = "retinal_image" onchange="loadImage()"/>
                        </span>
                        <button class="btn btn-success" onclick="drPredict()" type="button">Predict </button>
                        <button class="btn btn-success" onclick="drRetrieveSimilarCases()" type="button">Retrieve similar cases </button>
                        <button class="btn btn-primary" onclick="" type="button">Clear </button>
                    </form>
                    <br>
                    <div class="container">
                        <div style="width:30%;float:left;">
                            <img id="test_retinal_img" width="280" height="280" src="#" border="1"/>
                        </div>

                        <div style="width:70%;float:right;">
                            <label style="color: dimgrey;">Predicted Severity Stage:</label><br>
                            <label id="result" style="color: indianred;">None. (Please upload your fundus image)</label>
                        </div>
                    </div>
                </div>

                <div class="grid" id="top_retinal_image_list">

                </div>

            </div>
            <div id="menu1" class="tab-pane fade">

            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>

    </div>
</div>

<script>
var $ = jQuery;

// read image through relative path
function drSeverityStagePredict() {
    var form_data = new FormData($('#dr_classification_form')[0]);
    $.ajax({
        url: '/predictDR',
        data: form_data,
        type: 'POST',
        contentType:false,
        cache:false,
        processData: false,
        success: function(response) {
            console.log("response:"+ response);
        },
        error: function(error) {
            console.log(error);
        }
    });
}

// read image through base64 encoded format
function drPredict() {
    if(document.getElementById('retinal_image').files.length === 0) {
        alert('Please select an fundus image.');
    } else {
        var file = document.getElementById('retinal_image').files[0];

        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e) {
            imgBase64 = reader.result;
            $.ajax({
                url: '/predictDRSeverityStage',
                type: 'POST',
                data:JSON.stringify({'query_base64':imgBase64}),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    document.getElementById('result').innerHTML = data;
                    console.log("response DR stage:"+ data);
                },

                failure:function(errorMsg) {
                    alert(errorMsg);
                }
            });
        };
    }
}

function drRetrieveSimilarCases() {
    if(document.getElementById('retinal_image').files.length === 0) {
        alert('Please select an fundus image.');
    } else {
        var file = document.getElementById('retinal_image').files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e) {
            imgBase64 = reader.result;
            $.ajax({
                url: '/retrieveSimilarCases',
                type: 'POST',
                data:JSON.stringify({'query_base64':imgBase64}),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    console.log("response DR retrieval:");
                    console.log(JSON.stringify(data));
                    document.getElementById('top_retinal_image_list').innerHTML = "";

                    for(var i=0; i < data.length; i++) {
                        var galleryDiv = document.createElement('div');
                        galleryDiv.className = 'gallery';
                        //box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3)
                        galleryDiv.style="border: 1px solid #ccc;;max-width: 100%;";

                        var rankedImg = document.createElement('img');
                        rankedImg.src = data[i]['base64Format'];
                        rankedImg.style="width: 100%;height: auto;";

                        var descDiv = document.createElement('div');
                        descDiv.className = 'desc';
                        descDiv.style="color:dimgray;text-align:center;padding: 10px;";
                        descDiv.innerHTML = data[i]['severityStage'];

                        galleryDiv.appendChild(rankedImg);
                        galleryDiv.appendChild(descDiv);
                        document.getElementById('top_retinal_image_list').appendChild(galleryDiv);
                    }
                },

                failure:function(errorMsg) {
                    alert(errorMsg);
                }
            });
        };
    }
}

function loadImage() {
    var file = document.getElementById('retinal_image').files[0];
    var reader  = new FileReader();
    reader.onload = function(e) {
        var image = document.getElementById("test_retinal_img");
        image.src = e.target.result;
    };
    reader.readAsDataURL(file);
}

</script>
{% endblock %}