{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="dashboard-header">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Severity stage classification</a></li>
            <li><a data-toggle="tab" href="#menu1">Similar cases retrieval</a></li>
            <!--<li><a data-toggle="tab" href="#menu2">Clinical signs detection</a></li>-->
            <!--<li><a data-toggle="tab" href="#menu3">Treatments suggestion</a></li>-->
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h5 style="color: dimgrey;">Upload Fundus Image</h5>
                <form method = "post" id = "dr_classification_form" enctype = "multipart/form-data">
                    <span class="btn btn-default">
                    <input type = "file" name = "retinal_image" />
                    </span>
                    <button class="btn btn-sm btn-primary" onclick="microRetrieval()" type="button">Predict </button>
                </form>

            </div>
            <div id="menu1" class="tab-pane fade">

            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>

    </div>
</div>

<script>
var $ = jQuery;

function microRetrieval() {
    //var file = document.getElementById('micro_image').files[0];
    //var form_data = new FormData(file);
    var form_data = new FormData($('#dr_classification_form')[0]);
    $.ajax({
        url: '/predictDR',
        data: form_data,
        type: 'POST',
        contentType:false,
        cache:false,
        processData: false,
        success: function(response) {
            console.log("response:"+ response);
        },
        error: function(error) {
            console.log(error);
        }
    });

}

function loadImage() {
    var file = document.getElementById('micro_image').files[0];
    var reader  = new FileReader();
    reader.onload = function(e) {
        var image = document.createElement("img");
        image.src = e.target.result;
        document.getElementById('upload_micro_img').appendChild(image);
    };
    reader.readAsDataURL(file);
}

</script>
{% endblock %}